.hero {
  padding: 0;

  .container {
    position: relative;
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: perspective(1000px);
  }

  .slider {
    width: 100%;
    overflow: hidden;

    .slide-item {
      width: 100%;

      img {
        aspect-ratio: 1600 / 904;
        object-fit: cover;
        object-position: top;
        width: 100%;
      }
    }
  }

  .text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
    padding: 3em;
    color: #fff;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    transform: translateZ(50px);

    &-left {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
      justify-content: flex-end;
    }

    &-right {
      align-items: flex-end;
    }

    > * {
      line-height: 1;
      margin: 0;
    }

    .date {
      @include fluid("font-size", 2rem, 3rem);
      margin-bottom: 0.25em;
      font-weight: 300;
    }

    .location {
      @include fluid("font-size", 1.75rem, 2rem);
      font-family: $font-1;
      transform: translateZ(50px);

      @media (max-width: 768px) {
        transform: none;
      }
    }

    .hashtag {
    }

    @media (max-width: 768px) {
      position: relative;
      background: none;
      color: inherit;
      transform: none;
      text-shadow: none;
      padding: 1em;

      &-left {
        align-items: center;
        justify-content: center;
      }

      &-center {
        align-items: center;
        justify-content: center;
      }

      &-right {
        align-items: center;
        justify-content: center;
      }
    }
  }
}
