.universal-table {
    max-width: 100%;
    width: 100%;
    margin: 3em auto;
    overflow: hidden;
    overflow-x: auto;
    
}

table {
    @include fluid('font-size', 0.875rem, 1rem);
    @include fluid('line-height', 1.5em, 1.25em);
    font-weight: 300;
    width: 100% !important;
    height: auto !important;
    display: table;
    background: #fff;
    border-color: #f1f1f1;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 0.125em;
    box-shadow: $box-shadow-1;
}

table thead {

}

table thead tr {
    text-align: left;
}

table tr:nth-of-type(even) {
    background: rgba(0,0,0,0.01);
}

table th {
    border-style: solid;
    border-width: 1px;
    border-color: inherit;
    padding: 1rem;
    font-weight: bold;
}

table tr {
    text-align: left;
}

table td {
    width: auto !important;
    border-style: solid;
    border-width: 1px;
    border-color: inherit;
    padding: 1rem;
    white-space: nowrap;
    
    &:not(:last-of-type) {
        border-right-color: transparent;
    }
}
